In [1]:
import os
import json

In [6]:
with open("example_2.json") as f:
    data=json.load(f)

In [10]:
with open('example_new.json','w') as f:
    json.dump(data,f,indent=2,sort_keys=True)

In [11]:
with open("example_new.json") as f:
    data=json.load(f)

In [12]:
data

{'quiz': {'maths': {'q1': {'answer': '12',
    'options': ['10', '11', '12', '13'],
    'question': '5 + 7 = ?'},
   'q2': {'answer': '4',
    'options': ['1', '2', '3', '4'],
    'question': '12 - 8 = ?'}},
  'sport': {'q1': {'answer': 'Huston Rocket',
    'options': ['New York Bulls',
     'Los Angeles Kings',
     'Golden State Warriros',
     'Huston Rocket'],
    'question': 'Which one is correct team name in NBA?'}}}}

In [13]:
data['quiz']['maths']

{'q1': {'answer': '12',
  'options': ['10', '11', '12', '13'],
  'question': '5 + 7 = ?'},
 'q2': {'answer': '4',
  'options': ['1', '2', '3', '4'],
  'question': '12 - 8 = ?'}}

In [21]:
data['quiz']['sport']['q1']['options']

['New York Bulls',
 'Los Angeles Kings',
 'Golden State Warriros',
 'Huston Rocket']

<b><u>F-strings </u></b>

In [22]:
name="prakhar"
surname="thapak"
language="c++"

print(f"My name is {name} {surname} and I like to code in {language}")

My name is prakhar thapak and I like to code in c++

<u><b> Exec and Eval </u></b>

In [32]:
#one real example that I used exec for is when there can be dynamic user inputs

from scipy import stats
import pandas as pd
import random
df=pd.DataFrame()
df['vals']=[random.randrange(1,15) for _ in range(25)]
df['items']=[random.choice(['sample_1','sample_2','sample_3','sample_4']) for _ in range(25)]

In [33]:
df #lets remove random sample from the items

    vals     items
0      9  sample_4
1      7  sample_1
2      6  sample_4
3     12  sample_1
4      5  sample_3
5      4  sample_3
6     12  sample_2
7     14  sample_2
8      4  sample_4
9     13  sample_1
10    13  sample_4
11     2  sample_3
12     7  sample_1
13     7  sample_3
14    12  sample_2
15     5  sample_2
16    14  sample_4
17     9  sample_1
18    13  sample_1
19     4  sample_4
20    12  sample_2
21     3  sample_4
22     8  sample_3
23     1  sample_3
24     9  sample_3

In [36]:
temp=random.randint(1,2)
for i in range(temp):
    df['items']=df['items'].replace("sample_"+str(i),"sample_11")

In [66]:
#Now we dont know there are 4 or 3 samples in ur dataframe and we want to run anova test on this
str_test="stats.f_oneway("
for i in list(df['items'].unique()):
    var=df[df['items']==i]['vals'].tolist()
    str_test=str_test+str(var)+","

str_test=str_test+")"

In [67]:
str_test

'stats.f_oneway([9, 6, 4, 13, 14, 4, 3],[7, 12, 13, 7, 9, 13],[5, 4, 2, 7, 8, 1, 9],[12, 14, 12, 5, 12],)'

In [77]:
eval(str_test)

F_onewayResult(statistic=3.444424508836458, pvalue=0.03522340148362079)

In [69]:
stats.f_oneway([9, 6, 4, 13, 14, 4, 3],[7, 12, 13, 7, 9, 13],[5, 4, 2, 7, 8, 1, 9],[12, 14, 12, 5, 12],)

F_onewayResult(statistic=3.444424508836458, pvalue=0.03522340148362079)

In [78]:
from math import factorial
print(eval('factorial(5)'))

120